<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.min.css'>
    <script src="https://fb.me/react-15.2.1.js"></script>
    <script src="https://fb.me/react-dom-15.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
<nav class="nav-heading">
  <li><a href="/">Home</a></li>
  <li><a href="/pokemon">Pokemon</a></li>
  <li><a href="/map">Map</a></li>
  <li><a href="#">Resources</a></li>
  <li><a href="#">About</a></li>
</nav>
    <div class="big-panel">Big Panel</div>
    <div class="panel">Panel</div>
    <div class="little-panel">Little Panel</div>
  </body>
</html>
