<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.min.css'>
    <script src="https://fb.me/react-15.2.1.js"></script>
    <script src="https://fb.me/react-dom-15.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    
    <% include templates/header.ejs %>

    <div class="big-panel">Big Panel</div>
    <div class="panel">Panel</div>
    <div class="little-panel">Little Panel</div>
  </body>
</html>
